#tabs
{
    width: 100%;
}
#tabs p
{
    color: #7b7b7b;
    font-size: 10px;
    line-height: 18px;
    padding: 0 10px;
    font-family: Arial, Helvetica, sans-serif;
}
#tabs ul
{
    list-style: none;
    margin: 0;
    padding: 0;
}
#tabs ul li
{
    background: rgb(236, 236, 236);
    border: solid 1px #c4c4c4;
    float: left;
    padding: 8px 12px;
    margin-right: 4px;
    margin-bottom: -1px; /* ----------------Owais -----------------------*/
    background: none repeat scroll 0 0 #908FA8;
    border: 1px solid #D6D6D6;
    color: #FFFFFF;
    height: 25px; /* ----------------Owais -----------------------*/
    width: 68px;
    top: 3px;
    position: relative;
}

#tabs ul li a
{
    text-decoration: none;
    color: #7b7b7b;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif; /*Owais*/
    color: rgb(255, 255, 255);
    font: bold 12px Verdana, Arial, Helvetica, sans-serif; /*Owais*/
}

.tab-container
{
    border: solid 1px #c4c4c4;
}

li.ui-tabs-active
{
    /*Owais*/
    background: none repeat scroll 0 0 #3E3B6A;
    border: 1px solid #3E3B6A;
    box-shadow: 5px 5px 8px #888888;
    color: #F8F8F8;
    cursor: text; /*Owais*/
}

#tabs ul li:hover
{
    /*Owais*/
    background: none repeat scroll 0 0 #3E3B6A;
    border: 1px solid #3E3B6A;
    box-shadow: 5px 5px 8px #888888;
    color: #F8F8F8;
    cursor: text; /*Owais*/
}

#tabs ul li.ui-state-focus, #tabs ul li.ui-tabs-active
{
    /*Owais*/
    background: none repeat scroll 0 0 #3E3B6A;
    border: 1px solid #3E3B6A;
    box-shadow: 5px 5px 8px #888888;
    color: #F8F8F8;
    cursor: text; /*Owais*/
}

#tabs-1
{
    clear: both;
    padding: 15px;
}
#tabs-2
{
    clear: both;
    padding: 15px;
}
#tabs-3
{
    clear: both;
    padding: 15px;
}
#tabs-4
{
    clear: both;
    padding: 15px;
}
#tabs-5
{
    clear: both;
    padding: 15px;
}
#tabs-6
{
    clear: both;
    padding: 15px;
}

#accordion
{
    width: auto;
    background: url('../../images/OBP/accordion-bg.jpg') repeat-x;
    padding: 2px;
    border: 1px solid #b8b4b5;
}
#accordion p
{
    color: #7b7b7b;
    font-size: 12px;
    line-height: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
#accordion h3
{
    border-bottom: 1px solid #C4C4C4;
    color: white;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    height: 25px;
    margin: 3px;
    background: #6d88b7; /* Old browsers */
    background: -moz-linear-gradient(left,  #3E3B6A 0%, #908FA8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#3E3B6A), color-stop(100%,#908FA8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #3E3B6A 0%,#908FA8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #3E3B6A 0%,#908FA8 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #3E3B6A 0%,#908FA8 100%); /* IE10+ */
    background: linear-gradient(to right,  #3E3B6A 0%,#908FA8 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3E3B6A', endColorstr='#908FA8',GradientType=1 ); /* IE6-9 */
}

#accordion h3 span
{
    position: relative;
    top: 5px;
    padding-left: 5px;
}

#accordion .ui-state-default
{
}
#accordion .ui-state-active
{
}


#hor-zebra
{
    font-family: "Lucida Sans Unicode" , "Lucida Grande" , Sans-Serif;
    font-size: 12px;
    text-align: left;
    border-collapse: collapse;
}
#hor-zebra th
{
    font-size: 14px;
    font-weight: normal;
    padding: 10px 8px;
    color: #039;
    background: url('../../images/OBP/bghead.jpg') repeat-x;
}
#hor-zebra td
{
    padding: 8px;
    color: #669;
}
#hor-zebra tr
{
    border: 1px solid #c7c3c4;
}
#hor-zebra .odd
{
    background: #f4f4f4;
}
