﻿<%@ Page Language="C#" AutoEventWireup="true" %>

<%@ OutputCache Location="None" NoStore="true" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>E-Clipse Online </title>
    <style type="text/css">
        html, body
        {
            height: 100%;
            overflow: auto;
        }
        body
        {
            padding: 0;
            margin: 0;
        }
        #silverlightControlHost
        {
            height: 100%;
            text-align: center;
        }
    </style>
    <script type="text/javascript" src="Silverlight.js"></script>
    <script type="text/javascript">
        function onSilverlightError(sender, args) {
            var appSource = "";
            if (sender != null && sender != 0) {
                appSource = sender.getHost().Source;
            }

            var errorType = args.ErrorType;
            var iErrorCode = args.ErrorCode;

            if (errorType == "ImageError" || errorType == "MediaError") {
                return;
            }

            var errMsg = "Unhandled Error in Silverlight Application " + appSource + "\n";

            errMsg += "Code: " + iErrorCode + "    \n";
            errMsg += "Category: " + errorType + "       \n";
            errMsg += "Message: " + args.ErrorMessage + "     \n";

            if (errorType == "ParserError") {
                errMsg += "File: " + args.xamlFile + "     \n";
                errMsg += "Line: " + args.lineNumber + "     \n";
                errMsg += "Position: " + args.charPosition + "     \n";
            }
            else if (errorType == "RuntimeError") {
                if (args.lineNumber != 0) {
                    errMsg += "Line: " + args.lineNumber + "     \n";
                    errMsg += "Position: " + args.charPosition + "     \n";
                }
                errMsg += "MethodName: " + args.methodName + "     \n";
            }

            throw new Error(errMsg);
        }
    </script>
</head>
<body>
    <form id="form1" runat="server" style="height: 100%">
    <div id="silverlightControlHost">
        <object data="data:application/x-silverlight-2," type="application/x-silverlight-2"
            width="100%" height="100%">
            <%
                const string strSourceFile = @"ClientBin/SilverlightDashboard.xap";
                string param;
                //if (System.Diagnostics.Debugger.IsAttached)
                //    param = "<param name=\"source\" value=\"" + strSourceFile + "\" />";
                //else
                //{
                string xappath = HttpContext.Current.Server.MapPath(@"") + @"\" + @"ClientBin/SilverlightOrganization.xap";
                string dashboardxappath = HttpContext.Current.Server.MapPath(@"") + @"\" + @"ClientBin/SilverlightDashboard.xap";
                
                    DateTime xapCreationDate = System.IO.File.GetLastWriteTime(xappath);
                    DateTime dashboardXapCreationDate = System.IO.File.GetLastWriteTime(dashboardxappath);
                    
                    param = "<param name=\"source\" value=\"" + strSourceFile + "?ignore="
                            + xapCreationDate + dashboardXapCreationDate +  "\" />";
              //  }
                Response.Write(param);
            %>
            <%--<param name="source" value="ClientBin/SilverlightDashboard.xap" />--%>
            <param name="onError" value="onSilverlightError" />
            <param name="background" value="white" />
            <param name="Windowless" value="True" />
            <param name="minRuntimeVersion" value="4.0.50401.0" />
            <param name="autoUpgrade" value="true" />
            <param name="InitParams" value="UserAccount=<%=HttpContext.Current.User.Identity.Name%>, IsAdmin=<%=Session["IsAdmin"]%>, UserCID=<%=Session["UserCID"]%>,UserType=<%=Session["UserType"]%>" />
            <a href="http://go.microsoft.com/fwlink/?LinkID=149156&v=4.0.50401.0" style="text-decoration: none">
                <img src="http://go.microsoft.com/fwlink/?LinkId=161376" alt="Get Microsoft Silverlight"
                    style="border-style: none" />
            </a>
        </object>
        <iframe id="_sl_historyFrame" style="visibility: hidden; height: 0px; width: 0px;
            border: 0px"></iframe>
    </div>
    </form>
</body>
</html>
