﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="HtmlDashletEditor.ascx.cs" Inherits="JDashTest.JDash.JDashlets.HtmlDashletEditor" %>
<%@ Register TagPrefix="jdash" Namespace="JDash.WebForms" Assembly="JDash.WebForms, Version=4.1.0.0, Culture=neutral, PublicKeyToken=b5fa106e3affb7e3" %>


<jdash:DashletStylesList ID="DashletStylesList1" runat="server"/>