﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="BreadCrumb.ascx.cs"
    Inherits="eclipseonlineweb.Controls.BreadCrumb" %>
<asp:Label ID="lblBreadCrumb" CssClass="breadcrumb" runat="server" Text="" ClientIDMode="Static"></asp:Label>
