﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ClientHeaderInfo.ascx.cs"
    Inherits="eclipseonlineweb.Controls.ClientHeaderInfo" %>
<asp:Label Font-Bold="true" ID="lblClientID" runat="server" Text="Client ID"></asp:Label>
<asp:Label Font-Bold="true" ID="Label1" runat="server" Text="-"></asp:Label>
<asp:Label Font-Bold="true" ID="lblClientName" runat="server" Text="Client Name"></asp:Label>