﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="EmailControl.ascx.cs"
    Inherits="eclipseonlineweb.Controls.EmailControl" %>
<span id="ctrlEmailBody">
    <telerik:RadTextBox ID="txtEmail" runat="server" Width="197px">
    </telerik:RadTextBox>
    <span id="Msg" runat="server" visible="false" style="color: Red;">Invalid email</span></span>
