﻿<%@ Page Title="e-Clipse Online Portal" Language="C#" MasterPageFile="SetupMaster.master"
    AutoEventWireup="true" CodeBehind="FinancialInstitutions.aspx.cs" Inherits="eclipseonlineweb.FinancialInstitutions" %>

<%@ Register TagPrefix="uc1" TagName="BreadCrumb" Src="~/Controls/BreadCrumb.ascx" %>
<%@ Register src="../Controls/InstitutionControl.ascx" tagname="InstitutionControl" tagprefix="uc2" %>
<asp:Content ID="BodyContent" runat="server" ContentPlaceHolderID="MainContent">
<style type="text/css">
        .holder
        {
            width: 100%;
            display: block;
            z-index: 6;
        }
        .content
        {
            background: #fff;
            z-index: 7; /*  padding: 28px 26px 33px 25px;*/
        }
        .popup
        {
            border-radius: 7px;
            background: #6b6a63;
            margin: 30px auto 0;
            padding: 6px;
            position: absolute;
            width: 500px;
            top: 20%;
            left: 50%;
            margin-left: -400px;
            margin-top: -40px;
            z-index: 6;
        }        
       
        .overlay
        {
            width: 100%;
            opacity: 0.65;
            height: 100%;
            left: 0; /*IE*/
            top: 0;
            text-align: center;
            z-index: 5;
            position: fixed;
            background-color: #444444;
        }
    </style>
    <asp:Panel ID="Panel1" runat="server">
        <fieldset>
            <table width="100%">
                <tr>
                    <td width="20%">
                        <asp:ImageButton runat="server" ImageUrl="~/images/download.png" OnClick="DownloadXLS"
                            ID="btnDownload" />
                        <asp:ImageButton runat="server" ImageUrl="~/images/window_previous.png" Visible="false"
                            OnClick="BtnBackToListing" ID="btnBack" />
                        &nbsp;
                        <asp:ImageButton ID="btn" AlternateText="Add New Dealer Group" ToolTip="Add New Institute"
                        runat="server" OnClick="lnkbtnAddInstitute_Click" ImageUrl="~/images/add-icon.png" />
                    </td>
                    <td width="100%" class="breadcrumbgap">
                        <uc1:BreadCrumb ID="BreadCrumb1" runat="server" />
                        <br />
                        <asp:Label Font-Bold="true" runat="server" ID="lblTDTransactionListing" Text="INSTITUTIONS"></asp:Label>
                        <asp:Label Font-Bold="true" Visible="false" runat="server" ID="lblInstituteID"></asp:Label>
                    </td>
                </tr>
            </table>
        </fieldset>
    </asp:Panel>    
    <br />
    <asp:Panel runat="server" ID="InstitutionGrid">
        <telerik:RadGrid EnableViewState="true" ID="radGrid1" AutoGenerateColumns="false"
            OnItemCommand="InstituteGridItemCommand" Width="100%" runat="server" AutoGenerateDeleteColumn="false"
            AutoGenerateEditColumn="false" PageSize="20" OnNeedDataSource="GetInstituteData"
            AllowPaging="true">
            <PagerStyle Mode="NumericPages"></PagerStyle>
            <MasterTableView AllowMultiColumnSorting="True" CommandItemDisplay="Top" TableLayout="Fixed"
                 EnableViewState="true" AllowFilteringByColumn="true" AllowSorting="true">
                <PagerStyle Mode="NumericPages"></PagerStyle>
                <CommandItemSettings ShowExportToExcelButton="true" ShowAddNewRecordButton="false"
                    ShowExportToWordButton="true" ShowExportToPdfButton="true"></CommandItemSettings>
                <Columns>
                    <telerik:GridBoundColumn FilterControlWidth="80px" HeaderStyle-Width="10%" ItemStyle-Width="10%"
                        SortExpression="ID" HeaderText="ID" AutoPostBackOnFilter="true" CurrentFilterFunction="Contains"
                        ShowFilterIcon="true" HeaderButtonType="TextButton" DataField="ID" UniqueName="ID"
                        ReadOnly="true" Display="false">
                    </telerik:GridBoundColumn>
                    <telerik:GridBoundColumn FilterControlWidth="60px" HeaderStyle-Width="10%" ItemStyle-Width="10%"
                        SortExpression="InstitutionCode" HeaderText="Institution Code" AutoPostBackOnFilter="true"
                        CurrentFilterFunction="Contains" ShowFilterIcon="true" HeaderButtonType="TextButton"
                        DataField="TextInstitutionCode" UniqueName="InstitutionCode" ReadOnly="true">
                    </telerik:GridBoundColumn>
                    <telerik:GridBoundColumn FilterControlWidth="90%" HeaderStyle-Width="25%" ItemStyle-Width="25%"
                        SortExpression="Name" HeaderText="Institute Name" AutoPostBackOnFilter="true"
                        CurrentFilterFunction="Contains" ShowFilterIcon="true" HeaderButtonType="TextButton"
                        DataField="Name" UniqueName="Name" ReadOnly="true">
                    </telerik:GridBoundColumn>
                    <telerik:GridBoundColumn FilterControlWidth="90%" HeaderStyle-Width="35%" ItemStyle-Width="35%"
                        SortExpression="Description" HeaderText="Description" AutoPostBackOnFilter="true"
                        CurrentFilterFunction="Contains" ShowFilterIcon="true" HeaderButtonType="TextButton"
                        DataField="Description" UniqueName="Description" ReadOnly="true">
                    </telerik:GridBoundColumn>  
                    <telerik:GridButtonColumn CommandName="Detail" Text="Edit" ButtonType="LinkButton"
                        HeaderStyle-Width="6%" ItemStyle-Width="6%">
                    </telerik:GridButtonColumn>
                    <telerik:GridButtonColumn CommandName="Delete" ConfirmText="Are you sure? You want to delete this record?" Text="Delete" ButtonType="LinkButton"
                        HeaderStyle-Width="6%" ItemStyle-Width="6%">
                    </telerik:GridButtonColumn>  
                    <telerik:GridButtonColumn CommandName="ContactDetail" Text="More Details" ButtonType="LinkButton"
                        HeaderStyle-Width="8%" ItemStyle-Width="8%">
                    </telerik:GridButtonColumn>                 
                </Columns>
            </MasterTableView>
            <ExportSettings ExportOnlyData="true" IgnorePaging="true" OpenInNewWindow="true">
                <Excel Format="Html"></Excel>
            </ExportSettings>
        </telerik:RadGrid>
    </asp:Panel>    
    <div id="InstituteModal" runat="server" visible="false" class="holder">
        <div class="popup">
            <div class="content">
                <uc2:InstitutionControl ID="InstitutionControl1" runat="server" />
            </div>
        </div>
    </div>
    <div class="overlay" id="OVER" visible="False" runat="server">
    </div>
</asp:Content>
