﻿<%@ Page Title="e-Clipse Online Portal" Language="C#" MasterPageFile="InstituteDetailsMaster.master"
    AutoEventWireup="true" CodeBehind="InstitutionsContactDetail.aspx.cs" Inherits="eclipseonlineweb.InstitutionsContactDetail" %>

<%@ Register TagPrefix="uc1" TagName="BreadCrumb" Src="~/Controls/BreadCrumb.ascx" %>
<%@ Register src="../Controls/ExistingContactsControl.ascx" tagname="ExistingContactsControl" tagprefix="uc2" %>
<asp:Content ID="BodyContent" runat="server" ContentPlaceHolderID="MainContent">
<style type="text/css">
        .holder
        {
            width: 100%;
            display: block;
            z-index: 6;
        }
        .content
        {
            background: #fff;
            z-index: 7; /*  padding: 28px 26px 33px 25px;*/
        }
        .popup
        {
            border-radius: 7px;
            background: #6b6a63;
            margin: 30px auto 0;
            padding: 6px;
            position: absolute;
            width: 900px;
            top: 20%;
            left: 50%;
            margin-left: -400px;
            margin-top: -40px;
            z-index: 6;
        }        
       
        .overlay
        {
            width: 100%;
            opacity: 0.65;
            height: 100%;
            left: 0; /*IE*/
            top: 0;
            text-align: center;
            z-index: 5;
            position: fixed;
            background-color: #444444;
        }
    </style>
<asp:Panel ID="Panel1" runat="server">
        <fieldset>
            <table width="100%">
                <tr>
                    <td width="20%">                      
                 <a href="FinancialInstitutions.aspx">
                                <img src="../images/window_previous.png" border="0" style="border: 0 !important;" /></a>
                        &nbsp;
                       <asp:ImageButton ID="lnkbtnAddExistngContact" AlternateText="Add Existing Contacts" ToolTip="Add Existing Contacts"
                            runat="server" OnClick="lnkbtnAddExistngContact_Click" ImageUrl="~/images/add_existing.png" />
                    </td>
                    <td width="100%" class="breadcrumbgap">
                        <uc1:BreadCrumb ID="BreadCrumb1" runat="server" />
                        <br />
                         <asp:Label Font-Bold="true" runat="server" ID="lblInsName" Text="Institutions"></asp:Label>
                        <asp:Label Font-Bold="true" runat="server" ID="lblTDTransactionListing" Text=" - Contact Details"></asp:Label>
                        
                    </td>
                </tr>
            </table>
        </fieldset>
    </asp:Panel>    
    
    <br />
    <asp:Panel runat="server" ID="InstitutionGrid">
        
       <telerik:RadGrid EnableViewState="true" ID="RedGDContacts" AutoGenerateColumns="false"  Width="100%" runat="server" AutoGenerateDeleteColumn="false"
            AutoGenerateEditColumn="false" OnItemCommand="InstituteGridItemCommand" PageSize="20" OnNeedDataSource="GetInstituteContactData"
            AllowPaging="true">
            <PagerStyle Mode="NumericPages"></PagerStyle>
            <MasterTableView AllowMultiColumnSorting="True" CommandItemDisplay="Top" TableLayout="Fixed"
                 EnableViewState="true" AllowFilteringByColumn="true" AllowSorting="true">
                <PagerStyle Mode="NumericPages"></PagerStyle>
                <CommandItemSettings ShowExportToExcelButton="true" ShowAddNewRecordButton="false"
                    ShowExportToWordButton="true" ShowExportToPdfButton="true"></CommandItemSettings>
                <Columns> 
                    <telerik:GridBoundColumn FilterControlWidth="80px" HeaderStyle-Width="10%" ItemStyle-Width="10%"
                        SortExpression="Clid" HeaderText="Clid" AutoPostBackOnFilter="true"
                        CurrentFilterFunction="Contains" ShowFilterIcon="true" HeaderButtonType="TextButton"
                        DataField="Clid" UniqueName="Clid" ReadOnly="true" Display="false">
                    </telerik:GridBoundColumn>
                    <telerik:GridBoundColumn FilterControlWidth="80px" HeaderStyle-Width="10%" ItemStyle-Width="10%"
                        SortExpression="Csid" HeaderText="Csid" AutoPostBackOnFilter="true"
                        CurrentFilterFunction="Contains" ShowFilterIcon="true" HeaderButtonType="TextButton"
                        DataField="Csid" UniqueName="Csid" ReadOnly="true" Display="false">
                    </telerik:GridBoundColumn>
                                      
                    <telerik:GridBoundColumn FilterControlWidth="80px" HeaderStyle-Width="10%" ItemStyle-Width="10%"
                        SortExpression="Name" HeaderText="Given Name" AutoPostBackOnFilter="true"
                        CurrentFilterFunction="Contains" ShowFilterIcon="true" HeaderButtonType="TextButton"
                        DataField="Name" UniqueName="Name" ReadOnly="true">
                    </telerik:GridBoundColumn>
                    <telerik:GridBoundColumn FilterControlWidth="80px" HeaderStyle-Width="10%" ItemStyle-Width="10%"
                        SortExpression="MiddleName" HeaderText="Middle Name" AutoPostBackOnFilter="true"
                        CurrentFilterFunction="Contains" ShowFilterIcon="true" HeaderButtonType="TextButton"
                        DataField="MiddleName" UniqueName="MiddleName" ReadOnly="true">
                    </telerik:GridBoundColumn>
                    <telerik:GridBoundColumn FilterControlWidth="80px" HeaderStyle-Width="10%" ItemStyle-Width="10%"
                        SortExpression="SurName" HeaderText="Family Name" AutoPostBackOnFilter="true"
                        CurrentFilterFunction="Contains" ShowFilterIcon="true" HeaderButtonType="TextButton"
                        DataField="SurName" UniqueName="SurName" ReadOnly="true">
                    </telerik:GridBoundColumn>                     
                    <telerik:GridBoundColumn FilterControlWidth="80px" HeaderStyle-Width="20%" ItemStyle-Width="20%"
                        SortExpression="EmailAddress" HeaderText="Email" AutoPostBackOnFilter="true"
                        CurrentFilterFunction="Contains" ShowFilterIcon="true" HeaderButtonType="TextButton"
                        DataField="EmailAddress" UniqueName="EmailAddress" ReadOnly="true">
                    </telerik:GridBoundColumn> 
                    <telerik:GridButtonColumn CommandName="Delete" Text="Delete" ConfirmText="Are you sure? You want to delete this record?" ButtonType="LinkButton"
                        HeaderStyle-Width="6%" ItemStyle-Width="6%">
                    </telerik:GridButtonColumn>                                                       
                </Columns>
            </MasterTableView>
            <ExportSettings ExportOnlyData="true" IgnorePaging="true" OpenInNewWindow="true">
                <Excel Format="Html"></Excel>
            </ExportSettings>
        </telerik:RadGrid>
        
    </asp:Panel>    
   <div class="overlay" id="OVER" visible="False" runat="server">
    </div>
    <div id="ContactPopup" runat="server" visible="false" class="holder">
        <div class="popup">
        <div class="popup_Titlebar" id="PopupHeader">
            <div class="TitlebarLeft"  style="width: 890px">
                <table width="100%">
                    <tr>
                        <td  style="text-align:left;">
                            Available Contacts For Association  
                        </td>
                        <td style="text-align:right;">
                            <asp:ImageButton runat="server" ID="btnClose" ImageUrl="~/images/cross_icon_normal.png" OnClick="btnClose_OnClick"/>                         
                        </td>
                    </tr>
                </table>                      
        </div>
    </div>
            <div class="content"> 
            <uc2:ExistingContactsControl ID="ExistingContactsControl1" runat="server" />               
            </div>
        </div>
    </div>
</asp:Content>
