﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="WebClient.Default" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <span>Hello World</span>
        <br />
        <br />
        <b></be><span>Login Username :</span></b>&nbsp;&nbsp;&nbsp;&nbsp;
        <asp:Label ID="LabelUsername" Text="" runat="server" />
    </div>
    </form>
</body>
</html>
