﻿<%@ Page Title="" Language="C#" MasterPageFile="~/ClientViews/ClientViewMaster.master"
    AutoEventWireup="true" CodeBehind="BuyAtCallRates.aspx.cs" Inherits="eclipseonlineweb.ClientViews.BuyAtCallRates" %>

<%@ Register Src="../Controls/BuyAtCallRates.ascx" TagName="BuyAtCallRates" TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
    <uc1:BuyAtCallRates ID="BuyAtCallRatesControl" runat="server" />
</asp:Content>
