﻿<%@ Page Title="" Language="C#" MasterPageFile="~/ClientViews/ClientViewMaster.master"
    AutoEventWireup="true" CodeBehind="BuyASX.aspx.cs" Inherits="eclipseonlineweb.ClientViews.BuyASX" %>

<%@ Register Src="../Controls/BuyASX.ascx" TagName="BuyASX" TagPrefix="uc1" %>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
    <uc1:BuyASX ID="BuyASXControl" runat="server" />
</asp:Content>
