﻿<%@ Page Title="e-Clipse Online Portal - Configure Fees" Language="C#" MasterPageFile="ClientViewMaster.master"
    AutoEventWireup="true" CodeBehind="BuyStateStreet.aspx.cs" Inherits="eclipseonlineweb.BuyStateStreet" %>

<%@ Register Src="../Controls/BuyStateStreet.ascx" TagName="BuyStateStreet" TagPrefix="uc1" %>
<asp:Content ID="BodyContent" runat="server" ContentPlaceHolderID="MainContent">
    <uc1:BuyStateStreet ID="BuyStateStreetControl" runat="server" />
</asp:Content>
