﻿<%@ Page Title="e-Clipse Online Portal - Configure Fees" Language="C#" MasterPageFile="ClientViewMaster.master"
    AutoEventWireup="true" CodeBehind="BuyTDCash.aspx.cs" Inherits="eclipseonlineweb.BuyTDCash" %>

<%@ Register Src="../Controls/BuyTDCash.ascx" TagName="BuyTDCash" TagPrefix="uc1" %>
<asp:Content ID="BodyContent" runat="server" ContentPlaceHolderID="MainContent">
    <uc1:BuyTDCash ID="BuyTDCashControl" runat="server" />
</asp:Content>
