﻿<%@ Page Title="" Language="C#" MasterPageFile="~/ClientViews/ClientViewMaster.master"
    AutoEventWireup="true" CodeBehind="OrderCutOffTime.aspx.cs" Inherits="eclipseonlineweb.ClientViews.OrderCutOffTime" %>

<%@ Register Src="../Controls/CutOffTime.ascx" TagName="CutOffTime" TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
    <uc1:CutOffTime ID="CutOffTime1" runat="server" />
</asp:Content>
