﻿<%@ Page Title="e-Clipse Online Portal - Configure Fees" Language="C#" MasterPageFile="ClientViewMaster.master"
    AutoEventWireup="true" CodeBehind="SellOrder.aspx.cs" Inherits="eclipseonlineweb.SellOrder" %>

<%@ Register Src="../Controls/SellOrder.ascx" TagName="SellOrder" TagPrefix="uc1" %>
<asp:Content ID="BodyContent" runat="server" ContentPlaceHolderID="MainContent">
    <uc1:SellOrder ID="SellOrderControl" runat="server" />
</asp:Content>
