﻿/* DEFAULTS
----------------------------------------------------------*/
fieldset
{
    margin: 1em 0;
    padding: 1em;
    border: 1px solid #ccc;
}

fieldset p
{
    margin: 2px 12px 10px 10px;
}

fieldset.login label, fieldset.register label, fieldset.changePassword label
{
    display: block;
}

fieldset label.inline
{
    display: inline;
}

.PasswordRule
{
    font-family: Calibri, Tahoma;
    font-style: normal;
    color: #666;
    font-weight: normal;
    font-size: 10px;
}

legend
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}
.statusbar
{
    padding: 5px 0;
    height: 30px;
}


body
{
    background-color: #cccccc;
    font: 13px Arial,FreeSans,Helvetica,Verdana,sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.22;
}

a:link, a:visited
{
    font-size: 9pt;
    color: #034af3;
}

a:hover
{
    font-size: 9pt;
    color: #1d60ff;
    text-decoration: none;
}
a:active
{
    font-size: 9pt;
    color: #034af3;
}

map, area, a img, img:link, img[usemap]
{
    border: none;
}
p
{
    margin-bottom: 10px;
    line-height: 1.6em;
}


/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #666666;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0;
    font-weight: bold;
}

h1
{
    font-size: 1.6em;
    padding-bottom: 0;
    margin-bottom: 0;
}

h2
{
    font-size: 1.5em;
    font-weight: 600;
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0;
}



/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page
{
    width: 95%;
    height: 92%;
    background-color: #fff;
    margin: 20px auto 0 auto;
    border: 1px solid #fff;
}

.header
{
    padding: 0.5% 0.5%;
    position: relative;
    background: #3A4F63;
}

.main
{
    padding: 0 12px;
    margin: 12px 8px 8px 8px;
    min-height: 420px;
}

.leftCol
{
    padding: 6px 0;
    margin: 12px 8px 8px 8px;
    width: 200px;
    min-height: 200px;
}

.footer
{
    color: #4e5766;
    padding: 8px 0 0 0;
    margin: 0 auto;
    text-align: center;
    line-height: normal;
}
.left
{
    float: left;
}
.half
{
    width: 50%;
    float: left;
}
.third
{
    width: 33%;
    float: left;
}

/* TAB MENU   
----------------------------------------------------------*/

div.hideSkiplink
{
    background-color: #3a4f63;
    width: 100%;
}

div.menu
{
    padding: 0 0 0 40px;
    vertical-align: middle;
}

div.menu ul
{
    list-style: none;
    margin: 0;
    padding: 0;
    width: auto;
    vertical-align: middle;
}

div.menu ul li a, div.menu ul li a:visited
{
    background-color: #465c71;
    vertical-align: middle;
    color: #dde4ec;
    display: block;
    line-height: 1.35em;
    padding: 4px 40px;
    text-decoration: none;
    white-space: nowrap;
}

div.menu ul li a:hover
{
    background-color: #bfcbd6;
    color: #465c71;
    text-decoration: none;
}

div.menu ul li a:active
{
    background-color: #465c71;
    color: #cfdbe6;
    text-decoration: none;
}

/* TAB SIDE MENU   
----------------------------------------------------------*/

.style1 a { text-decoration: none; color: red; }

div.sidemenu
{
    vertical-align: middle;
}

.sidemenu a.static.selected
{
    background-color: #DAE6F4 !important;
    color: #465c71 !important;
    text-decoration: none !important;
}

.headersidemenu
{
    background-color: #3A4F63 !important;
    color: #FFF !important;
    text-decoration: none !important;
}

div.sidemenu ul
{
    list-style: none;
    padding: 0;
    vertical-align: middle;
}

div.sidemenu ul li a, div.sidemenu ul li a:visited
{
    background-color: #F2F2F2;
    vertical-align: middle;
    color: #465c71;
    font-size: x-small;
    display: block;
    line-height: 2em;
    padding: 4px 20px;
    text-decoration: none;
    white-space: nowrap;
    width: 150px;
}

hr
{
    height: 0;
    border-style: dashed;
    background: #F2F2F2;
    border-width: 1px 0 0 0;
    border-color: #465c71;
}

div.sidemenu ul li a:hover
{
    background-color: #A8A8A8;
    color: #ffffff;
    text-decoration: none;
}

div.sidemenu ul li a:active
{
    background-color: #A8A8A8;
    color: #465c71;
    text-decoration: none;
}

/* FORM ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    margin: 1em 0;
    padding: 1em;
    border: 1px solid #ccc;
}

fieldset p
{
    margin: 2px 12px 10px 10px;
}

fieldset.login label, fieldset.register label, fieldset.changePassword label
{
    display: block;
}

fieldset label.inline
{
    display: inline;
}

legend
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input.textEntry
{
    width: 320px;
    border: 1px solid #ccc;
}

input.passwordEntry
{
    width: 320px;
    border: 1px solid #ccc;
}

label
{
    padding: 5px;
}

.EditTextArea
{
    font: 13px Arial,FreeSans,Helvetica,Verdana,sans-serif;
}

div.accountInfo
{
    width: 55%;
}

/* MISC  
----------------------------------------------------------*/

.clear
{
    clear: both;
}

.title
{
    display: block;
    float: left;
    text-align: left;
    width: auto;
}

.loginDisplay
{
    padding: 0.5% 0.5%;
    position: relative;
    margin: 1%;
    font-size: 0.8em;
    display: block;
    text-align: right;
    color: #ffffff;
}

.loginDisplay a:link
{
    color: White;
}

.loginDisplay a:visited
{
    color: White;
}

.loginDisplay a:hover
{
    color: White;
}

.failureNotification
{
    font-size: 1.2em;
    color: Red;
}

.bold
{
    font-weight: bold;
}

.submitButton
{
    text-align: right;
    padding-right: 10px;
}
.C1ToolTip_Vista .C1ttContainer .C1ttContent
{
    padding: 6px;
}
.C1ToolTip_Vista .C1ttContentBar
{
    font-size: 28px;
    font-family: Georgia;
}
.C1ToolTip_Vista .C1ttTitleBar
{
    display: none;
}
div.C1GridView_ArcticFox .C1Content .C1Selected .C1Gtd, div.C1GridView_ArcticFox .C1Content .C1Row .C1SelectedCell, div.C1GridView_ArcticFox .C1Heading .C1ActiveHeaderCell
{
    background: #4b6c9e;
}
div.C1GridView_ArcticFox .C1Content .C1Row .C1ActiveCell
{
    background: #fff;
    color: #000;
}
div.C1GridView_ArcticFox .C1Content .C1ActiveRow .C1ActiveCell
{
    background: #FAFAFA;
    color: #000;
}
div.C1GridView_ArcticFox .C1Content .C1RowHover .C1Gtd
{
    background: #F0F8FF;
}
div.C1ProgressBar_ArcticFox-C1Horizontal .C1pbProgress
{
    background: #4b6c9e;
}
.C1GridView_ArcticFox .C1Row td.currency
{
    text-align: right;
    padding-right: 5px;
}
.currency table
{
    float: right;
}
.C1GridView_ArcticFox .C1Row td.number
{
    text-align: right;
    padding-right: 5px;
}
.number table
{
    float: right;
}
.C1GridView_ArcticFox .C1Row td.center
{
    text-align: center;
}
.center table
{
    margin: 0 auto;
}
.C1GridView_ArcticFox a.C1Link
{
    text-decoration: underline;
    font-size: 16px;
    color: #1d60ff;
}

#containerMain
{
    margin: 1%;
    padding: 0;
    width: 97%;
    background-color: #fc9;
}
#leftMain
{
    float: left;
    width: 10%;
    margin: 0.8% 0.8% 0.8% 0;
    padding: 0.8%;
    color: #000;
    background-color: #ffffff;
}
#rightMain
{
    float: left;
    width: 82%;
    margin: 5px 0 5px 5px;
    padding: 5px;
    color: #000;
}

#rightMain
{
    float: right;
    margin: 0.8% 0.8% 0.8% 0;
    padding: 0.8%;
}
#leftMainSec
{
    float: left;
    width: 60%;
    margin: 0.5% 0 0.5% 0.5%;
    padding: 0.5%;
    color: #000;
}
#rightMainSec
{
    float: left;
    width: 30%;
    margin: 50% 0 0.5% 0.5%;
    padding: 0.5%;
    color: #000;
}

#rightMainImg
{
    float: left;
    width: 45%;
    margin: 20% 0 1% 1%;
    padding: 1%;
    color: #000;
}

#rightMainSec
{
    float: right;
    margin: 1% 1% 1% 0;
}
.clearMain
{
    height: 0;
    font-size: 1px;
    margin: 0;
    padding: 0;
    line-height: 0;
    clear: both;
}

.SubNav
{
    text-align: right;
}

#navigation, .navigation
{
    position: absolute;
    left: 0;
    background: none;
    border: none;
    top: 80px;
    z-index: 6;
    height: 680px;
}
* html #navigation, * html .navigation
{
    position: absolute;
}

/***************************************************************************/
.Container
{
    margin: auto;
    min-height: 400px;
    background: #ffffff;
    max-width: 500px;
    min-width: 500px;
    border: solid 1px #d4d4d4;
    padding: 0 20px 20px 20px;
}

.ToolBar
{
    border: solid 1px #d4d4d4;
    padding: 10px;
    margin-bottom: 20px;
}

.GridContainer
{
    background: #ECF5FB;
    min-height: 300px;
    border: solid 1px #d4d4d4;
}

.ModalPopupBG
{
    background-color: #666699;
    filter: alpha(opacity=50);
    opacity: 0.7;
}

.popup_Container
{
    background-color: #F2F2F2;
    border: 2px solid #000000;
    padding: 0 0 0 0;
}

.popupConfirmation
{
    width: 300px;
}

.popup_Titlebar
{
    background: url(../images/titlebar_bg.jpg);
    height: 29px;
}

.popup_Body
{
    padding: 15px 15px 15px 15px;
    font-family: Arial,sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: #000000;
    line-height: 15pt;
    clear: both;
    padding: 20px;
}

.TitlebarLeft
{
    float: left;
    padding-left: 5px;
    padding-top: 5px;
    font-family: Arial,sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: #FFFFFF;
}
.TitlebarRight
{
    background: url(../images/cross_icon_normal.png);
    background-position: right;
    background-repeat: no-repeat;
    height: 15px;
    width: 16px;
    float: right;
    cursor: pointer;
    margin-right: 5px;
    margin-top: 5px;
}

.popup_Buttons
{
    margin: 10px;
}
.over
{
    background-color: #dddddd;
}
.out
{
    background-color: #FFFFFF;
}
