﻿/*! normalize.css v2.1.2 | MIT License | git.io/normalize */

/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined in IE 8/9.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */

audio,
canvas,
video {
    display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */

[hidden] {
    display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-family: sans-serif; /* 1 */
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
    margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */

abbr[title] {
    border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */

b,
strong {
    font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */

dfn {
    font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
    background: #ff0;
    color: #000;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */

code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */

pre {
    white-space: pre-wrap;
}

/**
 * Set consistent quote types.
 */

q {
    quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
    font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9.
 */

img {
    border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */

svg:not(:root) {
    overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari 5.
 */

figure {
    margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
    border: 0; /* 1 */
    padding: 0; /* 2 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */

button,
input,
select,
textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 2 */
    margin: 0; /* 3 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}




/* CSS Document */

body
{
    background: #e7e7e7 /*url(../images/white-shadow.png) no-repeat center*/;
    padding: 0;
    outline: 0;
    border-top: solid 3px #322f62;
    font: 13px/1.22 Arial,FreeSans,Helvetica,Verdana,sans-serif;
}
a { outline: 0;}

a:link, a:visited {
    color: #034AF3;
    font-size: 9pt;
}
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled {
    background-image: none;
    opacity: 0.70;}
.Container
{
 
    margin: 0 auto;
    display: block;
}
.Logo
{
    width: 184px;
    height: 81px;
    display: block;
    margin: 50px auto 0 auto;
}
.LoginBox
{
    width: 560px;
    height: 319px;
    background: url(../images/login-box.png) no-repeat;
    display: block;
    margin: 40px auto;
    padding: 0;
}
.TextField
{
    width: 327px;
    background: #FFF url(../images/field-bg.png) repeat-x top;
    color: #13112d;
    padding: 9px;
    border: none;
    border-radius: 8px;
    border: solid 1px #fff;
}

.errortext
{
    font: 13px Arial,FreeSans,Helvetica,Verdana,sans-serif;
}

.LoginBox em
{
    font: 14px Arial, Helvetica, sans-serif;
    color: #fff;
    width: 100px;
    float: left;
    padding-top: 12px;
}
.LoginForm
{
    width: 480px;
    height: auto;
    margin: 70px 0 0 55px;
    float: left;
}
.ForgetPasswordForm
{
    width: 480px;
    height: auto;
    margin: 30px 0 0 55px;
    float: left;
}

#Space
{
    margin: 35px 0 0 0;
}
/*
span#Login-btn {
	display:block;
	float:left;
	height:39px;
	width:102px;
	margin:0 10px 0 0;}
	
span#Login-btn a {
	background: url(images/login-btn.png) no-repeat left top;
	width: 102px; height: 39px;
	text-indent: -9999px;
	padding:0; margin:0;
}
span#Login-btn a:hover  { background-position: left -39px; }
span#Login-btn a:active { background-position: left -78px; }

span#Login-btn a {	display:block; line-height: 46px; }
*/
/*
input[Type="submit"] {
    display: block;
width: 102px;
height: 39px;
background: url(../images/login-btn.png) no-repeat top;
border:none;
float:right;
margin:30px 34px 0 0;
cursor:pointer;
}

input[Type="submit"]:active 
{
    background: url(../images/login-btn.png) no-repeat bottom;
}
*/
#button
{
    display: block;
    width: 102px;
    height: 39px;
    background: url(../images/login-btn.png) no-repeat top;
    border: none;
    float: right;
    margin: 30px 34px 0 0;
    cursor: pointer;
}
#button:active
{
    background: url(../images/login-btn.png) no-repeat bottom;
}

.MediumButton
{
    display: block;
    width: 102px;
    height: 30px;
    border: none;
    float: right;
    margin: 0 0 0 10px;
    border-radius: 2px;
    border: solid 1px #b3b61b;
    box-shadow: 0 0 3px 0 #cdcdcd;
    text-align: center;
    cursor: pointer;
    color: #3e3b6a;
    background-image: linear-gradient(rgb(215,218,9) 12%, rgb(234,237,30) 56%, rgb(252,255,50) 78%);
    background-image: -o-linear-gradient(bottom, rgb(215,218,9) 12%, rgb(234,237,30) 56%, rgb(252,255,50) 78%);
    background-image: -moz-linear-gradient(bottom, rgb(215,218,9) 12%, rgb(234,237,30) 56%, rgb(252,255,50) 78%);
    background-image: -webkit-linear-gradient(bottom, rgb(215,218,9) 12%, rgb(234,237,30) 56%, rgb(252,255,50) 78%);
    background-image: -ms-linear-gradient(bottom, rgb(215,218,9) 12%, rgb(234,237,30) 56%, rgb(252,255,50) 78%);
    background-image: -webkit-gradient( 		linear, 		left bottom, 		left top, 		color-stop(0.12, rgb(215,218,9)), 		color-stop(0.56, rgb(234,237,30)), 		color-stop(0.78, rgb(252,255,50)) 	);
}
.MediumButton:active
{
    box-shadow: 0 0 5px 2px #cdcdcd;
    background-image: linear-gradient(rgb(252,255,96) 13%, rgb(215,218,9) 57%);
    background-image: -o-linear-gradient(bottom, rgb(252,255,96) 13%, rgb(215,218,9) 57%);
    background-image: -moz-linear-gradient(bottom, rgb(252,255,96) 13%, rgb(215,218,9) 57%);
    background-image: -webkit-linear-gradient(bottom, rgb(252,255,96) 13%, rgb(215,218,9) 57%);
    background-image: -ms-linear-gradient(bottom, rgb(252,255,96) 13%, rgb(215,218,9) 57%);
    background-image: -webkit-gradient( 	linear, 	left bottom, 	left top, 	color-stop(0.13, rgb(252,255,96)), 	color-stop(0.57, rgb(215,218,9)) 	);
}

/*DASHBOARD STYLING*/

#Container
{
    /*width: 1000px;*/
    max-width: 100%;
    min-width: 80%; 
    height: auto;
    margin: 0 auto;
    padding: 0;
}
#Header
{
    width: 100%;
    height: auto;
    padding: 0;
    margin: 20px 0 0 0;
    display: block;
}
#Logo
{
    width: 154px;
    height: 58px;
    display: block;
    margin: 0 0 0 25px;
    float: left;
}
#Menu
{
    width: 54%;
    padding: 0;
    margin: 20px 0 0 36px;
    height: 43px;
    float: left;
    border-right: solid 1px #000;
    background-image: linear-gradient(rgb(62,59,106) 43%, rgb(62,59,106) 10%, rgb(91,88,134) 85%);
    background-image: -o-linear-gradient(bottom, rgb(62,59,106) 43%, rgb(62,59,106) 10%, rgb(91,88,134) 85%);
    background-image: -moz-linear-gradient(bottom, rgb(62,59,106) 43%, rgb(62,59,106) 10%, rgb(91,88,134) 85%);
    background-image: -webkit-linear-gradient(bottom, rgb(62,59,106) 43%, rgb(62,59,106) 10%, rgb(91,88,134) 85%);
    background-image: -ms-linear-gradient(bottom, rgb(62,59,106) 43%, rgb(62,59,106) 10%, rgb(91,88,134) 85%);
    background-image: -webkit-gradient( 		linear, 		left bottom, 		left top, 		color-stop(0.43, rgb(62,59,106)), 		color-stop(0.1, rgb(62,59,106)), 		color-stop(0.85, rgb(91,88,134)) 	);
    
}
#Menu ul
{
    list-style: none;
    float: none;
    margin: 0;
    padding: 0;
    
}
#Menu ul li
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #FFF;
    list-style: none;
    background-image: linear-gradient(rgb(62,59,106) 43%, rgb(62,59,106) 10%, rgb(91,88,134) 85%);
    background-image: -o-linear-gradient(bottom, rgb(62,59,106) 43%, rgb(62,59,106) 10%, rgb(91,88,134) 85%);
    background-image: -moz-linear-gradient(bottom, rgb(62,59,106) 43%, rgb(62,59,106) 10%, rgb(91,88,134) 85%);
    background-image: -webkit-linear-gradient(bottom, rgb(62,59,106) 43%, rgb(62,59,106) 10%, rgb(91,88,134) 85%);
    background-image: -ms-linear-gradient(bottom, rgb(62,59,106) 43%, rgb(62,59,106) 10%, rgb(91,88,134) 85%);
    background-image: -webkit-gradient( 		linear, 		left bottom, 		left top, 		color-stop(0.43, rgb(62,59,106)), 		color-stop(0.1, rgb(62,59,106)), 		color-stop(0.85, rgb(91,88,134)) 	);
    float: left;
    margin: 0 0 0 0;
    width: auto;  
    text-align: center;
    padding: 12px 10px 14px 10px;
}
#Menu ul li a
{
    color: #FFF;
    text-decoration: none;
}
#Menu ul li a:hover
{
    color: #FFF;
    text-decoration: underline;
}
#TopLinks
{
    width: 29.168%;
    padding:14px 0;
    margin: 20px 0 0 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    border: solid 1px #aaaaaa;
    text-align: center;
    color: #535353;
    float: left;
    border-left: none;
    border-radius: 2px;
    background-image: linear-gradient(rgb(255,255,255) 51%, rgb(246,246,246) 10%, rgb(235,235,235) 85%);
    background-image: linear-gradient(rgb(251,251,251) 27%, rgb(240,240,240) 64%, rgb(235,235,235) 82%);
    background-image: -o-linear-gradient(bottom, rgb(251,251,251) 27%, rgb(240,240,240) 64%, rgb(235,235,235) 82%);
    background-image: -moz-linear-gradient(bottom, rgb(251,251,251) 27%, rgb(240,240,240) 64%, rgb(235,235,235) 82%);
    background-image: -webkit-linear-gradient(bottom, rgb(251,251,251) 27%, rgb(240,240,240) 64%, rgb(235,235,235) 82%);
    background-image: -ms-linear-gradient(bottom, rgb(251,251,251) 27%, rgb(240,240,240) 64%, rgb(235,235,235) 82%);
    background-image: -webkit-gradient( 		linear, 		left bottom, 		left top, 		color-stop(0.27, rgb(251,251,251)), 		color-stop(0.64, rgb(240,240,240)), 		color-stop(0.82, rgb(235,235,235)) 	);
}
#TopLinks a
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #6e6aa0;
    text-decoration: none;
}
#TopLinks a:hover
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #6e6aa0;
    text-decoration: underline;
}

#Content
{
    width: 100%;
    height: auto;
    display: block;
    margin: 20px 0 0 0;
    float: left;
}
#Sidebar
{
    width: 15%;
    height: auto;
    float: left;
    padding: 0;
    margin: 0;
    display: block;
}
#Content-Right
{
    width: 83.3%;
    height: auto;
    float: left;
    padding: 0;
    margin: 0 0 0 20px;
    display: block;
}

#LeftNav
{
    width: 96%;
    height: auto;
    float: left;
    background: #efefef;
    border: solid 1px #c4c4c4;
    border-radius: 2px;
    box-shadow: 0 0 3px 0 #cdcdcd;
    margin: 0;
    padding: 4px;
}

.LeftNav-Sub
{
    width: 87%;
    height: auto;
    float: left;
    background: #fff;
    border: solid 1px #c4c4c4;
    border-radius: 2px;
    padding: 0 15px;
    list-style: none;
    margin: 0;
}

#LeftNav ul
{
    width: 213px  !important;
    height: auto;
    float: left;
    padding: 0 ;
    list-style: none;
    margin: 0;
}
#LeftNav ul li
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #7b7b7b;
    list-style: none;
    margin: 0 0;
    padding: 9px 0;
    border-bottom: solid 1px #ebebeb;
}
#LeftNav ul li a
{
    color: #7b7b7b;
    text-decoration: none;
}
#LeftNav ul li a:hover
{
    color: #3e3b6a;
}
/*ul[style] { width: 213px  !important; }*/
.no-bdr
{
    border-bottom: none;
}
#News
{
    width: 99%;
    height: auto;
    float: left;
    background: #efefef;
    border: solid 1px #c4c4c4;
    border-radius: 2px;
    box-shadow: 0 0 3px 0 #cdcdcd;
    margin: 20px 0 0 0;
    padding: 0;
}
#News table
{
    border: none;
    
}

#News th
{
    width: 89%;
    min-width: 0;    
    height: auto;
    float: left;
    margin: 0 0;
    padding: 12px 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
    border-bottom: solid 1px #c4c4c4;
    color: #3e3b6a;
    border: none;
    background-image: linear-gradient(rgb(243,243,243) 41%, rgb(254,254,254) 71%);
    background-image: -o-linear-gradient(bottom, rgb(243,243,243) 41%, rgb(254,254,254) 71%);
    background-image: -moz-linear-gradient(bottom, rgb(243,243,243) 41%, rgb(254,254,254) 71%);
    background-image: -webkit-linear-gradient(bottom, rgb(243,243,243) 41%, rgb(254,254,254) 71%);
    background-image: -ms-linear-gradient(bottom, rgb(243,243,243) 41%, rgb(254,254,254) 71%);
    background-image: -webkit-gradient( 		linear, 		left bottom, 		left top, 		color-stop(0.41, rgb(243,243,243)), 		color-stop(0.71, rgb(254,254,254)) 	);
}
#News td
{
    width: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 16px;
    color: #7b7b7b;
    list-style: none;
    margin: 0 0;
    padding: 5px 8px;
    border-bottom: solid 1px #c7c3c3;
    border-left: none;
    border-right: none;    
    border-top: solid 1px #c7c3c3;
}

#News td a
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    
    
    color: #7b7b7b;
    color: #6e6aa0;
}
#News td > table tr  
{
    margin: 0;
    padding: 0;
    border-bottom: none;
    border-top: none;
   
}
#News td > table td  
{
    margin: 0;
    padding: 0;
    border-bottom: none;
    border-top: none;
   
}

#News h1
{
    width: 233px;
    height: auto;
    float: left;
    margin: 0 0;
    padding: 12px 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
    border-bottom: solid 1px #c4c4c4;
    color: #3e3b6a;
    background-image: linear-gradient(rgb(243,243,243) 41%, rgb(254,254,254) 71%);
    background-image: -o-linear-gradient(bottom, rgb(243,243,243) 41%, rgb(254,254,254) 71%);
    background-image: -moz-linear-gradient(bottom, rgb(243,243,243) 41%, rgb(254,254,254) 71%);
    background-image: -webkit-linear-gradient(bottom, rgb(243,243,243) 41%, rgb(254,254,254) 71%);
    background-image: -ms-linear-gradient(bottom, rgb(243,243,243) 41%, rgb(254,254,254) 71%);
    background-image: -webkit-gradient( 		linear, 		left bottom, 		left top, 		color-stop(0.41, rgb(243,243,243)), 		color-stop(0.71, rgb(254,254,254)) 	);
}
#News ul
{
    height: auto;
    float: left;
    background: #fff;
    border-radius: 2px;
    padding: 0 0;
    list-style: none;
    margin: 0;
}

.Grey
{
    background: #fcfcfc;
}

#News ul li
{
    width: 235px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 18px;
    color: #7b7b7b;
    list-style: none;
    margin: 0 0;
    padding: 10px 9px;
    border-bottom: solid 1px #c7c3c3;
}
#News ul li a
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #7b7b7b;
    color: #6e6aa0;
}

#News h1
{
    width: 233px;
    height: auto;
    float: left;
    margin: 0 0;
    padding: 12px 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
    border-bottom: solid 1px #c4c4c4;
    color: #3e3b6a;
    background-image: linear-gradient(rgb(243,243,243) 41%, rgb(254,254,254) 71%);
    background-image: -o-linear-gradient(bottom, rgb(243,243,243) 41%, rgb(254,254,254) 71%);
    background-image: -moz-linear-gradient(bottom, rgb(243,243,243) 41%, rgb(254,254,254) 71%);
    background-image: -webkit-linear-gradient(bottom, rgb(243,243,243) 41%, rgb(254,254,254) 71%);
    background-image: -ms-linear-gradient(bottom, rgb(243,243,243) 41%, rgb(254,254,254) 71%);
    background-image: -webkit-gradient( 		linear, 		left bottom, 		left top, 		color-stop(0.41, rgb(243,243,243)), 		color-stop(0.71, rgb(254,254,254)) 	);
}
#Search
{
    float: right;
    margin: 0;
    padding: 0;
}
#Search h1
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #3e3b6a;
    float: left;
    margin: 0;
    padding: 7px 10px 0 0;
    text-shadow: none;
}
.Search-Field
{
    width: 363px;
    background: #FFF;
    border: solid 1px #c7c3c3;
    box-shadow: 0 0 3px 0 #cdcdcd;
    margin: 0;
    padding: 6px 5px;
    float: left;
}
#Search-btn
{
    display: block;
    width: 102px;
    height: 30px;
    border: none;
    padding: 2px 5px;
    float: right;
    margin: 0 0 0 10px;
    border-radius: 2px;
    border: solid 1px #b3b61b;
    box-shadow: 0 0 3px 0 #cdcdcd;
    text-align: center;
    cursor: pointer;
    color: #3e3b6a;
    background-image: linear-gradient(rgb(215,218,9) 12%, rgb(234,237,30) 56%, rgb(252,255,50) 78%);
    background-image: -o-linear-gradient(bottom, rgb(215,218,9) 12%, rgb(234,237,30) 56%, rgb(252,255,50) 78%);
    background-image: -moz-linear-gradient(bottom, rgb(215,218,9) 12%, rgb(234,237,30) 56%, rgb(252,255,50) 78%);
    background-image: -webkit-linear-gradient(bottom, rgb(215,218,9) 12%, rgb(234,237,30) 56%, rgb(252,255,50) 78%);
    background-image: -ms-linear-gradient(bottom, rgb(215,218,9) 12%, rgb(234,237,30) 56%, rgb(252,255,50) 78%);
    background-image: -webkit-gradient( 		linear, 		left bottom, 		left top, 		color-stop(0.12, rgb(215,218,9)), 		color-stop(0.56, rgb(234,237,30)), 		color-stop(0.78, rgb(252,255,50)) 	);
}
#Search-btn:active
{
    box-shadow: 0 0 5px 2px #cdcdcd;
    background-image: linear-gradient(rgb(252,255,96) 13%, rgb(215,218,9) 57%);
    background-image: -o-linear-gradient(bottom, rgb(252,255,96) 13%, rgb(215,218,9) 57%);
    background-image: -moz-linear-gradient(bottom, rgb(252,255,96) 13%, rgb(215,218,9) 57%);
    background-image: -webkit-linear-gradient(bottom, rgb(252,255,96) 13%, rgb(215,218,9) 57%);
    background-image: -ms-linear-gradient(bottom, rgb(252,255,96) 13%, rgb(215,218,9) 57%);
    background-image: -webkit-gradient( 	linear, 	left bottom, 	left top, 	color-stop(0.13, rgb(252,255,96)), 	color-stop(0.57, rgb(215,218,9)) 	);
}

#Table-Grid
{
    height: auto;
    float: left;
    /*background: #efefef;
    border: solid 1px #c4c4c4;
    border-radius: 2px;
    box-shadow: 0px 0px 3px 0px #cdcdcd;*/
    text-align: left;
    margin: 20px 0;
    padding: 0;
}

#Table-Grid
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: 20px 0 0 0;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    border: none;
    overflow: auto;
}
#Table-Grid th
{
    margin: 0 0;
    padding: 0 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    border-bottom: solid 1px #c4c4c4;
    border-top: none;
    border-left: none;
    border-right: none;
    color: #3d396b;
    background-image: linear-gradient(rgb(243,243,243) 41%, rgb(254,254,254) 71%);
    background-image: -o-linear-gradient(bottom, rgb(243,243,243) 41%, rgb(254,254,254) 71%);
    background-image: -moz-linear-gradient(bottom, rgb(243,243,243) 41%, rgb(254,254,254) 71%);
    background-image: -webkit-linear-gradient(bottom, rgb(243,243,243) 41%, rgb(254,254,254) 71%);
    background-image: -ms-linear-gradient(bottom, rgb(243,243,243) 41%, rgb(254,254,254) 71%);
    background-image: -webkit-gradient( 		linear, 		left bottom, 		left top, 		color-stop(0.41, rgb(243,243,243)), 		color-stop(0.71, rgb(254,254,254)) 	);
}

#Table-Grid td
{
    padding: 5px 8px;
    /*color: #7b7b7b;
    border-bottom: solid 1px #c4c4c4;*/
}
#Table-Grid .odd
{
    background: #fff;
    border-bottom: solid 1px #c4c4c4;
}
.bottom
{
    background-image: linear-gradient(rgb(243,243,243) 31%, rgb(250,250,250) 66%, rgb(254,254,254) 83%);
    background-image: -o-linear-gradient(bottom, rgb(243,243,243) 31%, rgb(250,250,250) 66%, rgb(254,254,254) 83%);
    background-image: -moz-linear-gradient(bottom, rgb(243,243,243) 31%, rgb(250,250,250) 66%, rgb(254,254,254) 83%);
    background-image: -webkit-linear-gradient(bottom, rgb(243,243,243) 31%, rgb(250,250,250) 66%, rgb(254,254,254) 83%);
    background-image: -ms-linear-gradient(bottom, rgb(243,243,243) 31%, rgb(250,250,250) 66%, rgb(254,254,254) 83%);
    background-image: -webkit-gradient( 	linear, 	left bottom, 	left top, 	color-stop(0.31, rgb(243,243,243)), 	color-stop(0.66, rgb(250,250,250)), 	color-stop(0.83, rgb(254,254,254)) 	);
}
.bottom span
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
.bottom span a
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #3d396b;
    padding-left: 10px;
}
#Footer
{
    width: 100%;
    background: #FFF;
    border: solid 1px #c4c4c4;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #7b7b7b;
    text-align: center;
    box-shadow: 0 0 3px 0 #cdcdcd;
    clear: both;
    padding: 10px 0;
    margin: 20px 0;
    float: left;
}
fieldset 
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #C4C4C4;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 0 3px 0 #CDCDCD;
    width: 98.2%;
}
fieldset legend
{
    background: #3d396b;
    color: #fff;
    padding: 5px 10px;
    font-size: 11px;
    
}
.fieldset 
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #C4C4C4;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 0 3px 0 #CDCDCD;
    
}

.MainView
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 20px;
    
}

#MainView
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 20px;
    
}
.wijmo-wijlist-ul {
    font-size: 12px !important;
}


/* Modal Popup */
.ModalPopupBG
{
    background-color: #000;
    filter: alpha(opacity=50);
    opacity: 0.7;
}

.popup_Container
{
    background-color: #fff;
    border: 1px solid #333;
    padding: 0 0 0 0;
}

.popupConfirmation
{
    width: 300px;
}

.popup_Titlebar
{
    /*background: url(../images/titlebar_bg.jpg);*/
    background-image: linear-gradient(rgb(62,59,106) 43%, rgb(62,59,106) 10%, rgb(91,88,134) 85%);
    background-image: -o-linear-gradient(bottom, rgb(62,59,106) 43%, rgb(62,59,106) 10%, rgb(91,88,134) 85%);
    background-image: -moz-linear-gradient(bottom, rgb(62,59,106) 43%, rgb(62,59,106) 10%, rgb(91,88,134) 85%);
    background-image: -webkit-linear-gradient(bottom, rgb(62,59,106) 43%, rgb(62,59,106) 10%, rgb(91,88,134) 85%);
    background-image: -ms-linear-gradient(bottom, rgb(62,59,106) 43%, rgb(62,59,106) 10%, rgb(91,88,134) 85%);
    background-image: -webkit-gradient( 		linear, 		left bottom, 		left top, 		color-stop(0.43, rgb(62,59,106)), 		color-stop(0.1, rgb(62,59,106)), 		color-stop(0.85, rgb(91,88,134)) 	);
    height: 29px;
}

.popup_Body
{
    padding: 15px 15px 15px 15px;
    font-family: Arial,sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: #000000;
    line-height: 15pt;
    clear: both;
    padding: 20px;
}

.TitlebarLeft
{
    float: left;
    padding-left: 5px;
    padding-top: 5px;
    font-family: Arial,sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: #FFFFFF;
}
.TitlebarRight
{
    background: url(../images/cross_icon_normal.png);
    background-position: right;
    background-repeat: no-repeat;
    height: 15px;
    width: 16px;
    float: right;
    cursor: pointer;
    margin-right: 5px;
    margin-top: 5px; 
}




.popup_Buttons
{
    margin: 10px;
}
.over
{
    background-color: #dddddd;
}
.out
{
    background-color: #FFFFFF;
}

/*
/* Menu */

a {
	text-decoration: none;
}
ul, ul ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
#wrapper {	
	width: 220px;
	margin: 100px auto;
	font-size: 0.8125em;
}
.menu {
	width: auto;
	height: auto;
	border: 1px solid #C4C4C4;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 0 3px 0 #CDCDCD;
}
.menu > li > a 
{
	background-image: linear-gradient(rgb(255,255,255) 0, rgb(250,250,250) 57%, rgb(245,245,245) 79%);
    background-image: -o-linear-gradient(bottom, rgb(255,255,255) 0, rgb(250,250,250) 57%, rgb(245,245,245) 79%);
    background-image: -moz-linear-gradient(bottom, rgb(255,255,255) 0, rgb(250,250,250) 57%, rgb(245,245,245) 79%);
    background-image: -webkit-linear-gradient(bottom, rgb(255,255,255) 0, rgb(250,250,250) 57%, rgb(245,245,245) 79%);
    background-image: -ms-linear-gradient(bottom, rgb(255,255,255) 0, rgb(250,250,250) 57%, rgb(245,245,245) 79%);

    background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(255,255,255)),
	color-stop(0.57, rgb(250,250,250)),
	color-stop(0.79, rgb(245,245,245))
);
	
	border-bottom: 1px solid #C7C3C3;
	width: 100%;
	height: 2.75em;
	line-height: 2.75em;
	text-indent: 1.20em;
	display: block;
	position: relative;
	font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
	color: #3E3B6A;
}
.menu ul li a {
	border-bottom: 1px solid #C7C3C3;
	background-image: linear-gradient(rgb(237,237,237) 0, rgb(232,232,232) 57%, rgb(230,230,230) 79%);
	background-image: -o-linear-gradient(bottom, rgb(237,237,237) 0, rgb(232,232,232) 57%, rgb(230,230,230) 79%);
	background-image: -moz-linear-gradient(bottom, rgb(237,237,237) 0, rgb(232,232,232) 57%, rgb(230,230,230) 79%);
	background-image: -webkit-linear-gradient(bottom, rgb(237,237,237) 0, rgb(232,232,232) 57%, rgb(230,230,230) 79%);
	background-image: -ms-linear-gradient(bottom, rgb(237,237,237) 0, rgb(232,232,232) 57%, rgb(230,230,230) 79%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(237,237,237)),
	color-stop(0.57, rgb(232,232,232)),
	color-stop(0.79, rgb(230,230,230))
);
	/*width: 100%;
	line-height: 2.40em;
	text-indent: 2.0em;*/
	display: block;
	position: relative;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 11px ;
    padding: 5px 20px;
	color: #878d95;
}
.menu ul li:last-child a {
	border-bottom: 1px solid #C7C3C3;
}
.menu > li > a:hover, .menu > li > a.active {
	background-image: linear-gradient(rgb(62,59,106) 43%, rgb(62,59,106) 10%, rgb(91,88,134) 85%);
	background-image: -o-linear-gradient(bottom, rgb(62,59,106) 43%, rgb(62,59,106) 10%, rgb(91,88,134) 85%);
	background-image: -moz-linear-gradient(bottom, rgb(62,59,106) 43%, rgb(62,59,106) 10%, rgb(91,88,134) 85%);
	background-image: -webkit-linear-gradient(bottom, rgb(62,59,106) 43%, rgb(62,59,106) 10%, rgb(91,88,134) 85%);
	background-image: -ms-linear-gradient(bottom, rgb(62,59,106) 43%, rgb(62,59,106) 10%, rgb(91,88,134) 85%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.43, rgb(62,59,106)),
		color-stop(0.1, rgb(62,59,106)),
		color-stop(0.85, rgb(91,88,134))
	);

	border-bottom: 1px solid #103c56;
	
	color:#FFF;
}


#SelectMenu {
	background-image: linear-gradient(rgb(62,59,106) 43%, rgb(62,59,106) 10%, rgb(91,88,134) 85%);
	background-image: -o-linear-gradient(bottom, rgb(62,59,106) 43%, rgb(62,59,106) 10%, rgb(91,88,134) 85%);
	background-image: -moz-linear-gradient(bottom, rgb(62,59,106) 43%, rgb(62,59,106) 10%, rgb(91,88,134) 85%);
	background-image: -webkit-linear-gradient(bottom, rgb(62,59,106) 43%, rgb(62,59,106) 10%, rgb(91,88,134) 85%);
	background-image: -ms-linear-gradient(bottom, rgb(62,59,106) 43%, rgb(62,59,106) 10%, rgb(91,88,134) 85%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.43, rgb(62,59,106)),
		color-stop(0.1, rgb(62,59,106)),
		color-stop(0.85, rgb(91,88,134))
	);
	border-bottom: 1px solid #103c56;
	
	color:#FFF;
}
.menu > li > a.active {
	border-bottom: 1px solid #1a638f;
}
.menu > li > ul li a:before{
	content: '▶';
	font-size: 8px;
	color: #bcbcbf;
	position: absolute;	
	top: 6.2px;
	left: 6px;
}
/*.menu > li > a:before {
	content: '';
	background-image: url(../images/sprite.png);
	background-repeat: no-repeat;
	font-size: 36px;
	height: 1em;
  	width: 1em;
	position: absolute;
  	left: 0;
	top: 50%;
	margin: -.5em 0 0 0;
}*/
.item1 > a:before {
	background-position: 0 0;
}
.item2 > a:before {
	background-position: -38px 0;
}
.item3 > a:before {
	background-position: 0 -38px;
}
.item4 > a:before {
	background-position: -38px -38px;
}
.item5 > a:before {
	background-position: -76px 0;
}
.menu > li > a span {
    font-size: 0.857em; 
	display: inline-block;
	position: absolute;
	right: 1em;
	top: 50%; 
	background: #48515c;
	line-height: 1em;
	height: 1em;
	padding: .4em .6em;
	margin: -.8em 0 0 0; 
	color: #fff;
	text-indent: 0;
	text-align: center;
	-webkit-border-radius: .769em;
	-moz-border-radius: .769em;
	border-radius: .769em;
    -webkit-box-shadow: inset 0 1px 3px 0 #000000, 0 1px 0 0 #ffffff;
    -webkit-box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, .26), 0 1px 0 0 rgba(255, 255, 255, .15);
    -moz-box-shadow: inset 0 1px 3px 0 #000000, 0 1px 0 0 #ffffff;
    -moz-box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, .26), 0 1px 0 0 rgba(255, 255, 255, .15);
    box-shadow: inset 0 1px 3px 0 #000000, 0 1px 0 0 #ffffff;
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, .26), 0 1px 0 0 rgba(255, 255, 255, .15);
    text-shadow: 0 1px 0 #000000;
    text-shadow: 0 1px 0 rgba(0,0,0,.5);
	font-weight: 500;
}

.menu > li > a:hover span, .menu > li a.active span {
	background: #2173a1;
}
 
.menu > li > ul li#odd{ background:#FFF;}

.menu > li > ul li:hover a,
.menu > li > ul li:hover a span,
.menu > li > ul li:hover a:before {
	color: #32373D;
}

/*
.menu ul > li > a span {
	font-size: 0.857em; 
	display: inline-block;
	position: absolute;
	right: 1em;
	top: 50%; /
	background: #fff;
	border: 1px solid #d0d0d3;
	line-height: 1em;
	height: 1em;
	padding: .4em .7em;
	margin: -.9em 0 0 0; 
	color: #878d95;
	text-indent: 0;
	text-align: center;
	-webkit-border-radius: .769em;
	-moz-border-radius: 769em;
	border-radius: 769em;
	text-shadow: 0px 0px 0px rgba(255,255,255,.01));
}

*/
.LinkBtn {
    margin: 0;
    padding: 0;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    text-decoration: none;
    color: #3E3B6A;
}
.LinkBtn a{
    margin: 0;
    padding-bottom: 10px;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    text-decoration: none;
    color: #3E3B6A;
}
.LinkBtn a:hover{
    font-family: Arial,Helvetica,sans-serif;
    text-decoration: underline;
    color: #3E3B6A;
}

.ui-tabs .ui-tabs-nav li.ui-state-default {
    font-size: 11px;
}
.Txt-Field
{
    background: #FFF;
    border: solid 1px #c7c3c3;
    box-shadow: 0 0 3px 0 #cdcdcd;
    margin: 0;
    padding: 6px 5px;
    float: left;
}

.Txt-Field-Pwd
{
    background: #FFF;
    border: solid 1px #c7c3c3;
    box-shadow: 0 0 3px 0 #cdcdcd;
    margin-top: 10px;
    padding: 6px 5px;
    /*float: left;*/
}

.ui-state-hover a, .ui-state-hover a:hover {
    color: #fff !important;
}
.WhiteBack
{
    background: none repeat scroll 0 0 #FFFFFF;
    padding: 10px 0;

    
}
.distHeads
{
    font-weight: bold;
    font-size:larger;
}
.totalsRow TD
{

  border-top: 1px solid royalblue;
    font-style: italic;
    font-weight: bold;

}
#rowsTable TR TD:first-child
{
padding-left: 30px;


}



.exampleWrapper
{
    float: left;
    height:242px;
    width:490px;
    margin-bottom: 20px;
}

.multiPage
{
    display: -moz-inline-box;
    display: inline-block;
    zoom: 1;
    *display: inline;
    position: relative;
    margin-bottom: -3px;
}

.multiPage ul
{
    list-style:none;
    margin:0;
    position:absolute;
    left: 170px;
    top: 20px;
}

.multiPage ul li
{
    background: transparent url(images/arrow.gif) no-repeat left top;
    color:#34555b;
    padding-left: 24px;
    margin-top: 15px;
}

.corporatePageView
{
    background: transparent url(images/corporate.jpg) no-repeat top left;
    height:218px;
}

.productsPageView
{
    background: transparent url(images/products.jpg) no-repeat top left;
    height:218px;
}

.servicesPageView
{
    background: transparent url(images/services.jpg) no-repeat top left;
    height:218px;
}

* html div.RadTabStripVertical .rtsLevel
{
    width: 93px;
}
.RadForm_Metro .rfdValidationSummaryControl, .RadForm_Metro .rfdLoginControl 
{
    background-color: transparent !important;
    border: none !important;
}

.accordionHeader
{
    /*border: 1px solid #2F4F4F;*/
    color: white;
    /*background-color: #2E4d7B;*/
	font-family: Arial, Sans-Serif;
	font-size: 12px;
	font-weight: bold;
    padding: 10px 5px;
    margin-top: 5px;
    cursor: pointer;
    border: 1px solid #C7C3C3;
    background: #fff; 

	
}

.accordionContent
{
    background-color: #F2F2F2;
    border: 1px Solid #C7C3C3;
    border-top: none;
    padding: 5px;
    padding-top: 10px;
}

.accordionLink
{
 /*background-color: #D3DEEF;*/
    color: white;
}


.RadGrid_Metro .rgRow a, .RadGrid_Metro .rgAltRow a, .RadGrid_Metro tr.rgEditRow a, .RadGrid_Metro .rgFooter a, .RadGrid_Metro .rgEditForm a {    
    text-decoration: underline;
}


.RadListBox
{
    margin: 0 auto !important;
}
.rlbItem
{
    float: left !important;
}
.rlbGroup, .RadListBox
{
    width: auto !important;
}

.RadWindow_Metro .rwTopLeft, .RadWindow_Metro .rwTopRight, .RadWindow_Metro .rwTitlebar, .RadWindow_Metro .rwTopResize
{
    background-color: #5B5886 !important;
    background-image: -moz-linear-gradient(top left center bottom , #3E3B6A 43%, #3E3B6A 10%, #5B5886 85%) !important;         
}

.RadWindow_Metro .rwControlButtons a
{
    background-color: #5B5886 !important;
    border: 1px solid #3E3B6A !important;
    background-image: -moz-linear-gradient(top left center bottom , #3E3B6A 43%, #3E3B6A 10%, #5B5886 85%) !important;            
}


.menu > li > ul > li > a:hover, .menu > li > ul > li > a.active {
	background-image: linear-gradient(rgb(62,59,106) 43%, rgb(62,59,106) 10%, rgb(91,88,134) 85%);
	background-image: -o-linear-gradient(bottom, rgb(62,59,106) 43%, rgb(62,59,106) 10%, rgb(91,88,134) 85%);
	background-image: -moz-linear-gradient(bottom, rgb(62,59,106) 43%, rgb(62,59,106) 10%, rgb(91,88,134) 85%);
	background-image: -webkit-linear-gradient(bottom, rgb(62,59,106) 43%, rgb(62,59,106) 10%, rgb(91,88,134) 85%);
	background-image: -ms-linear-gradient(bottom, rgb(62,59,106) 43%, rgb(62,59,106) 10%, rgb(91,88,134) 85%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.43, rgb(62,59,106)),
		color-stop(0.1, rgb(62,59,106)),
		color-stop(0.85, rgb(91,88,134))
	);

	border-bottom: 1px solid #103c56;
	
	color:#FFF;
}

.menu > li > ul > li > a.active {
	border-bottom: 1px solid #1a638f;
}

.menu > li > ul > li > a:hover span, .menu > li > ul > li a.active span {
	background: #2173a1;
}

.breadcrumbgap
{     
    text-align: right;
}

.breadcrumb
{
    text-align: right;
    font-size: 10px; 
    font-weight: bold; 
    color: black
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .breadcrumb{ right: 0; font-size: 10px; font-weight: bold; color: black }
}

.riLabel
    {
        font: 12px "segoe ui" ,arial,sans-serif !important;
        color: #666666;
        vertical-align: middle;
        margin-right: 0;
        display: inline-block;
    }
    
    .riLabelBold
    {
        font: 12px "segoe ui" ,arial,sans-serif !important;
        color: #666666;
        vertical-align: middle;
        margin-right: 0;
        display: inline-block;
        font-weight: bold !important;
    }
    
    .btnImageWithText
    {
        border: 0; 
        vertical-align: top;
        width: 20px; 
        height: 20px; 
        padding-top: 1px
    }
    
 
/* NEW HEADER SECTION FOR ECLIPSE 2/7/13 9:06 AM */
#header-new {
background: #514e7d;
color: #fff;
height: 95px;
/*margin-bottom: 40px;*/
}

.box {
display: block;
margin: 0 auto;
padding: 0 10px;
position: relative;
width: 1106px;
}

#header-new #logo-new {
    float: left;
    margin: -7px 0 0 -6px;
}

#globalNav ul{
float:right;
padding-right:5px;
position:relative;
margin: 0 auto;
font-size: 13px;
}
#globalNav li{
float:left;
}
#globalNav a{
background-color:#100e25;
color:#d1cdff;
display:inline-block;
font-size:85%;
line-height:21px;
padding: 0 7px 0 6px;
}
#globalNav .login a{
background-color:transparent;
padding-right:0;
}
#globalNav .login{
padding: 0 4px 0 0;
}
#globalNav .languageSelect{
background:#100e25 url(http://www.atlassian.com/dms/wac/images/bgGlobalNav.png) no-repeat 100% center;
}
#globalNav .languageSelect a{
background:url(http://www.atlassian.com/dms/wac/images/iLanguage.png) no-repeat 0 4px;
padding:0 17px 0 16px;
position:relative;
z-index:9999;
}
#globalNav .languages{
background:url(http://www.atlassian.com/dms/wac/images/bgGlobalNav.png) no-repeat 0 100%;
border-top:5px solid #100e25;
display:none;
padding:5px 9px 26px;
position:absolute;
right:0;
top:16px;
width:68px;
z-index:9998;
}
#globalNav .languages li{
min-width:68px;
width:68px;
}
#globalNav .languages li a{
background:none;
padding:0;
}
#globalNav .languages li.selected a,
#globalNav .languages li.selected a:hover{
color:#036;
}
#header-new #globalNav a:hover{
color:#e9f103;
text-decoration:underline;
}
/*#globalNav li.languageSelect{
background:url(http://www.atlassian.com/dms/wac/images/bgLanguageSelect.png) no-repeat 0 100%;
}
#globalNav li.languageSelect a{
background:url(http://www.atlassian.com/dms/wac/images/bgLanguageSelect.png) no-repeat 100% 100%;
display:block;
padding:0 11px 0 42px;
line-height:22px;
}*/
#mainNav {
    left: 207px;
    position: absolute;
    top: 32px;
}
#mainNav ul{
float:left;
font-size: 8px;
/*overflow:hidden;*/
}
#mainNav li{
border-left:1px solid #e9f103;
float:left;
margin-left:-1px;
}
#mainNav li:first-child {
  border-left: 0px;
}
#mainNav a{
color:#fff;
display:block;
font-size:138.5%;
line-height:16px;
padding:0 19px 0 15px;
/*font-weight: bold;*/
font-weight: 300;
} 
#header-new a:hover{
color:#e9f103;
}  
#mainNav .selected a{
color:#e9f103;
}

#userNav{
position: absolute;
    right: 16px;
    top: 32px;
}
#userNav{
float:left;
margin-left:25px;
}
#userNav a{
color:#4c9ac9;
font-family:"kulturista-web",Helvetica,Arial,Verdana,sans-serif;
line-height:28px;
text-transform:uppercase;
}
#userNav{
/*background:url(../images/bgMainSearch.png) no-repeat center;
position:relative;*/
}
#userNav input.searchInput
{
background: rgb(240,247,252);    
border:0;
color:#858c90;
height:26px;
line-height:26px;
/*margin:1px 29px 1px 9px;*/
width:148px;
}
#userNav input.focus{
color:#404040 !important;
}
#userNav input.searchSubmit{
border:0;
cursor:pointer;
display:block;
height:28px;
padding-left:25px;
position:absolute;
right:1px;
text-indent:-9999px;
top:1px;
width:25px;
}


#header-new #logo-new a 
{
  /*background: url(../images/logo_new.png) no-repeat scroll 0 0 transparent;*/
    display: block;
    height: 92px;
    text-indent: -9999px;
    width: 168px;
}

#header-new a:hover {
color: #e9f103;
}    


.container-new 
{
 margin: 0 2%;   
}

.searchImage {
    border-left: 1px solid #C4C4C4;
    left: 0;
    position: relative;
    top: 10px;
}
.loginusername {
    color: #D1CDFF;
    line-height: 21px;
    font-size: 85%;
    padding-right: 12px;
}