﻿#formcontainer #init_step
{
    display: block;
}

#formcontainer
{
    border:1px solid white;
    width:100%;
    height:500px;    
}

#formcontainer1
{
    border:1px solid white;
    width:100%;   
}

#formcontainer .form
{
    margin: 0;
    background: #F9F9F9;
}

#wizardheader
{
    width: 85px;
}

h1, #formcontainer h2, #formcontainer h3
{
    color: #3C3664;
    font-size: Verdana, sans-serif;
    font-size: 24px;
    text-shadow: 2px 1px 2px #999;
}
#formcontainer h1 span, #formcontainer h2 span
{
    color: #727274;
}

#formcontainer table
{
    margin: 5px 0;
    font-size: 11px;
    font-weight: normal;
   border: 1px #fff solid;
}
#formcontainer table table
{
    border: none;
    padding-left: 0;
    margin-left: -5px;
}
#formcontainer table th
{
    font-size: 12px;
    font-weight: normal;
    background: #3D3B6A;
    color: #fff;
    text-align: left;
    padding: 7px 10px;
}
#formcontainer table td
{
    padding: 0 5px;
}
#formcontainer table tr.odd
{
    background: #E5E5E5;
}
#formcontainer table tr.even
{
    background: #F9F8FE;
}
#formcontainer input[type='text'], input[type='password'], #formcontainer select
{
    /* background: url('../images/input.png') no-repeat;*/
    color: #727274;
    border: 1px solid #ccc;
    font-family: Cantarell, Verdana, sans-serif;
    font-weight: normal;
    font-size: 11px;
    height: 20px;
    padding: 0 10px;
    border-radius: 3px;
    line-height: 18px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 2px;
}
#formcontainer1 input.submit
{
    background: url(../images/UmaForm/button.png) no-repeat;
    border: none;
    cursor: pointer;
    width: 85px;
    height: 38px;
    position: relative;
    bottom: 2px; /* left: 680px;*/
}

input.submit-next
{
    background: url(../images/UmaForm/button.png) no-repeat;
    border: none;
    cursor: pointer;
    width: 85px;
    height: 38px;
    position: relative;
    bottom: 2px; /* left: 680px;*/
    float:left;
    margin-top:-260px;
}

#formcontainer1 input.submit
{
    background: url(../images/UmaForm/button.png) no-repeat;
    border: none;
    cursor: pointer;
    width: 85px;
    height: 38px;
    position: relative;
    bottom: 2px; /* left: 680px;*/
}

#formcontainer input.submit:focus
{
    border: none;
}

#formcontainer1 input.send
{
    background: url(../images/UmaForm/send.png) no-repeat;
}
#formcontainer1 input.delete
{
    background: url(../images/UmaForm/delete.png) no-repeat;
    width: 100px;
    height: 38px;
}
#formcontainer1 input.save
{
    background: url(../images/UmaForm/save.png) no-repeat;
    width: 120px;
    height: 38px;
}
#formcontainer1 input.print
{
    background: url(../images/UmaForm/submit.png) no-repeat;
    width: 150px;
    height: 38px;
}

#formcontainer1 input.printoutput
{
    background: url(../images/UmaForm/submit_print.png) no-repeat;
    width: 150px;
    height: 38px;
}


#formcontainer input.error
{
    border: 1px solid red;
}
#formcontainer input.valid
{
    border: 1px solid #1FFF00;
}

#formcontainer input:focus, #formcontainer select:focus
{
    border: 1px solid #a90329;
    color: #a90329;
}

#formcontainer select
{
    padding: 0px 0 0px 10px;
    text-indent: 0;
    background: #fff;
}
#formcontainer option
{
    padding: 0 15px;
}

#formcontainer label
{
    color: #707070;
    font-size: 11px;
    line-height: 15px;
    height: 15px; /* float:left; */
    margin: 5px 0;
    padding: 0 10px 0 0;
}


.indentTop
{
    margin-top: 5px;
}
.indentBottom
{
    margin-bottom: 5px;
}
.indentRight
{
    margin-right: 10px;
}
.indentLeft
{
    margin-left: 10px;
}
.floatLeft
{
    float: left;
}
.floatTopLeft
{
    margin-top: -250px;
}
.floatRight
{
    float: right;
}

.paddedLeft
{
    padding-left: 10px;
}
.paddedRight
{
    padding-right: 10px;
}
.paddedTop
{
    padding-top: 10px;
}
.paddedBottom
{
    padding-bottom: 10px;
}

.line
{
    height: 1px;
    background: #ccc;
}
.colored
{
    color: #707070;
}
.full-width
{
    width: 100%;
}
input.halfWidth
{
    min-width: 300px;
}
input.Width250
{
    min-width: 250px;
}

.table-content
{
    margin: 0 auto;
    
}

.table-content .td1
{
    width: 320px;
    height: 150px;
}
#formcontainer .slideholder h2 {
    font-size: 15px;
    text-align: left;
	margin:10px 0 5px 0;
    text-shadow: 1px 1px 2px #ccc;
}
#formcontainer .slideholder h3 {
    font-size: 16px;
    text-align: left;
	margin:10px 0 5px 0;
    text-shadow: 1px 1px 2px #ccc;
}
.scroll-pane{
	width: 100%;
	height: 560px;
	overflow: auto;
	
}
a.popupwin{cursor:pointer; text-decoration:underline}
a.popupwin1{cursor:pointer; text-decoration:underline}

.popups{position:fixed; left:20px; top:100px; width:900px; height:700px; border:1px #d1d1d1 solid; background:#fff; display:none; font-size: 12px; }
.popups .holdpop{width:880px; height:700px; margin:0 5px 0 0; padding:0 10px 10px 10px; font-size: 11px; line-height: 15px; color: #707070;}
.popups .clh{background:#fff; width:900px; height:20px; line-height:25px}
.popups a.popcloser{cursor:pointer; width:100px; height:20px; margin-left:15px; float:left; text-decoration:none; font-size:12px; }
.popups .holdpop ul{list-style:square; padding:10px;}
.popups .holdpop ul li{padding:5px;}

.popups table th {
        font-size: 12px;
        font-weight: normal;
        background: #3D3B6A;
        color:#fff;
        text-align:left;
        padding:7px 10px;
		
    }