﻿<%@ Page Title="" Language="C#" MasterPageFile="~/SysAdministration/AdminMaster.master"
    AutoEventWireup="true" CodeBehind="BuyAtCall.aspx.cs" Inherits="eclipseonlineweb.SysAdministration.BuyAtCall" %>

<%@ Register Src="../Controls/BuyAtCall.ascx" TagName="BuyAtCall" TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
    <uc1:BuyAtCall ID="BuyAtCallControl" runat="server" />
</asp:Content>
