﻿<%@ Page Title="" Language="C#" MasterPageFile="~/SysAdministration/AdminMaster.master"
    AutoEventWireup="true" CodeBehind="BuyASX.aspx.cs" Inherits="eclipseonlineweb.SysAdministration.BuyASX" %>

<%@ Register Src="../Controls/BuyASX.ascx" TagName="BuyASX" TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
    <uc1:BuyASX ID="BuyASXControl" runat="server" />
</asp:Content>
