﻿<%@ Page Title="" Language="C#" MasterPageFile="~/SysAdministration/AdminMaster.master"
    AutoEventWireup="true" CodeBehind="BuyStateStreet.aspx.cs" Inherits="eclipseonlineweb.SysAdministration.BuyStateStreet" %>

<%@ Register Src="../Controls/BuyStateStreet.ascx" TagName="BuyStateStreet" TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
    <uc1:BuyStateStreet ID="BuyStateStreetControl" runat="server" />
</asp:Content>
