﻿<%@ Page Title="" Language="C#" MasterPageFile="~/SysAdministration/AdminMaster.master"
    AutoEventWireup="true" CodeBehind="BuyTDCash.aspx.cs" Inherits="eclipseonlineweb.SysAdministration.BuyTDCash" %>

<%@ Register Src="../Controls/BuyTDCash.ascx" TagName="BuyTDCash" TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
    <uc1:BuyTDCash ID="BuyTDCashControl" runat="server" />
</asp:Content>
