﻿<%@ Page Title="" Language="C#" MasterPageFile="~/SysAdministration/AdminMaster.master"
    AutoEventWireup="true" CodeBehind="SellOrder.aspx.cs" Inherits="eclipseonlineweb.SysAdministration.SellOrder" %>

<%@ Register Src="../Controls/SellOrder.ascx" TagName="SellOrder" TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
    <uc1:SellOrder ID="SellOrderControl" runat="server" />
</asp:Content>
