﻿<%@ Master Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Message.master.cs"
    Inherits="eclipseonlineweb.Message" %>

<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" runat="server">
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
    <script type="text/javascript">
        function GoToPage(url) {
            window.location = url;
            return false;
        }

        function DownloadFile(appno) {
            window.location = 'ExportReport.aspx?Type=' + appno;
            return false;
        }
    </script>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="SidebarMenu" runat="server">
    <asp:UpdatePanel ID="UpdatePanel1" runat="server" UpdateMode="Conditional">
        <ContentTemplate>
            <ul class="menu" runat="server" id="ulMenu">
                <li class="item1" id="liDashboard" runat="server"><a href="#" onclick="javascript:GoToPage('messagelist.aspx?flag=1');">
                    INBOX</a></li>
                <li class="item2" id="liSearch" runat="server"><a href="#" onclick="javascript:GoToPage('messagelist.aspx?flag=0');">
                    DRAFT </a></li>
                <li class="item3" id="liAccounts" runat="server"><a href="#" onclick="javascript:GoToPage('messagelist.aspx?flag=2');">
                    OUTBOX </a></li>
                <li class="item4" id="liConsolidation" runat="server"><a href="#" onclick="javascript:GoToPage('newItem.aspx');">
                    NEW </a></li>
            </ul>
        </ContentTemplate>
    </asp:UpdatePanel>
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="MainContent" runat="server">
    <asp:ContentPlaceHolder ID="MainContent" runat="server">
    </asp:ContentPlaceHolder>
</asp:Content>
