﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="GraphControl.ascx.cs" Inherits="eclipseonlineweb.OBP.Controls.GraphControl" %>

<p id="P1" runat="server" class='p_noGraphs'>No graph data to display!</p>

