﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Reports/ReportsMaster.master" AutoEventWireup="true" CodeBehind="P2Reports.aspx.cs" Inherits="eclipseonlineweb.Reports.P2Reports" %>
<%@ Register tagPrefix="uc1" tagName="P2Reports" src="../Controls/P2Reports.ascx"  %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
    <uc1:P2Reports ID="P2ReportsControl" runat="server" />
</asp:Content>
