﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="AddDashlets.ascx.cs" Inherits="eclipseonlineweb.JDash.Controls.AddDashlets" %>

<asp:Repeater runat="server" ID="rptDashlets" 
OnItemDataBound="rptDashlets_ItemDataBound" OnItemCommand="rptDashlets_ItemCommand">
    
</asp:Repeater>